<p><strong>To convert color scheme just:</strong></p>

<form action="/" method="POST" enctype="multipart/form-data">
  <p>
    <label>Choose Textmate theme file</label>
    <input type="file" name="file" />
  </p>
  <p>
    <label>Choose destination format:</label>
    <select name="dest_format">
      <option value="Vim">Vim color scheme</option>
      <option value="JEdit">JEdit color scheme</option>
      <option value="KatePart">Kate/Kwrite color scheme</option>
    </select>
  </p>
  <p>
    <input type="submit" value="Convert!" />
  </p>
</form>
