<form action="/" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" />
  <select name="dest_format">
    <option value="Vim">Vim</option>
    <option value="JEdit">JEdit</option>
    <option value="KatePart">Kate/Kwrite</option>
  </select>
  <input type="submit" value="Convert!" />
</form>
