<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Coloration - editor color scheme converter</title>
</head>
<body>
  <% if @alert %>
    <p class="alert"><%= @alert %></p>
  <% elsif @notice %>
    <p class="notice"><%= @notice %></p>
  <% end %>
  <%= yield %>
</body>
</html>
