<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Coloration - editor color scheme converter</title>
  <link rel="stylesheet" href="/reset.css" type="text/css" />
  <link rel="stylesheet" href="/stylesheet.css" type="text/css" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-5523452-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <span class="col1">c</span><span class="col2">o</span><span class="col3">l</span><span class="col4">o</span><span class="col5">r</span><span class="col6">a</span><span class="col7">t</span><span class="col8">i</span><span class="col9">o</span><span class="col10">n</span>
        <div class="clear"></div>
      </div>
      <div id="desc">
        <p>
          <strong>coloration</strong> is editor/IDE color scheme converter. Right now it allows you to convert your
          favourite Textmate color scheme (in XML plist format) to Vim, JEdit and KDevelop/Kate/Kwrite color scheme. It tries to do its best
          to generate the most accurate result for given target.
        </p>
        <p>
          If you like to install <strong>coloration</strong> on your own machine to do some batch conversion or for 
          some other reason just <code>gem install coloration</code>. It gives you <em>tm2vim</em>, <em>tm2jedit</em> and
          <em>tm2katepart</em> binaries to do the conversion on command line.
        </p>
        <p>
          If you found a bug or want to look at the source code you should go to 
          <a href="http://github.com/sickill/coloration">githubs</a>.
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <div id="content">
      <% if @alert %>
        <p class="alert"><%= @alert %></p>
      <% elsif @notice %>
        <p class="notice"><%= @notice %></p>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      <p>Created by <a href="http://sickill.net/">Marcin Kulik</a></p>
    </div>
  </div>
</body>
</html>
